@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  /* Ajout d'une image de fond */
  background-image: url("/images/cover.jpg"); /* Chemin relatif de mon image */
  background-size: cover; /* L'image couvre toute la page */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat; /* Évite la répétition de l'image */
  background-attachment: fixed; /* L'image reste en place quand on défile la page */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
